// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.text-accent {
  color: $accent !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  @include sans-serif-font;
  &:active,
  &:focus,
  &:hover{
    box-shadow: none;
  }
  &:active {
    color: $accent;
  }
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-lg {
  font-size: 5em;
  &:hover,
  &:focus {
    color: $accent;
    background-color: darken($accent, 10%) !important;
  }
}

.btn-primary {
  background-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $gray-500;
    background-color: darken($primary, 50%) !important;
  }
}

.img-thumbnail {
  padding: 0;
  border: none;
  max-width: 100%;
  height: auto;
}